 .home {
    height:100vh;
    position: relative;
    overflow: hidden;
}

  .home img{
    position: absolute; 
    min-height: 100%;
    min-width: 100%; 
     opacity:0; 
     animation: slider 15s infinite linear;  
}



  .home img:nth-of-type(1) {
    animation-delay: 5s;
}

 .home img:nth-of-type(2) { 
    animation-delay: 10s;
    top:7%;
}  

    .home h1 { 
    position: absolute;
    z-index:1;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px 60px;
    animation: txt 15s linear infinite both;
    font-family: anonymous pro;
}

  .home h1:nth-of-type(1) {
    top: 60%;
    right: 50%;
} 

 .home h1:nth-of-type(2) {
    bottom: 10%;
    left: 5%;
    animation-delay: 5s;
}

 .home h1:nth-of-type(3) {
    top: 30%;
    left: 5%;
    animation-delay: 10s;
}  

@keyframes txt {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    23.33% {
        opacity: 1;
    }

    28.33% {
        opacity: 0;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slider {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    5% {
        opacity: 1;
        scale:105%;
    }

    33.33% {
        opacity: 1;
        scale: 120%;
    }

    38.33% {
        opacity: 0;
        scale:125%;
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
} 

@media (min-width:1025px) and (max-width:1300px){
   .home img{
        min-width: 120%;  
        left:-15%;
    }
     
       .home h1 { 
        font-size: 30px;
        padding: 20px 60px;
    }
    
      .home h1:nth-of-type(1) {
        top: 60%;
        right: 50%;
    } 
    
     .home h1:nth-of-type(2) {
        bottom: 10%;
        left: 5%;
    }
    
     .home h1:nth-of-type(3) {
        top: 60%;
        left: 5%;
    }  
    
}

